*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial, Helvetica, sans-serif;

}

body{

background:#111;

color:white;

}

.success-container{

display:flex;

justify-content:center;

align-items:center;

height:85vh;

}

.success-card{

background:#1f1f1f;

padding:50px;

border-radius:20px;

text-align:center;

width:550px;

box-shadow:0 10px 30px rgba(0,0,0,.5);

}

.tick{

font-size:80px;

color:#00e676;

margin-bottom:20px;

}

.success-card h1{

color:#ff9800;

margin-bottom:15px;

}

.success-card p{

font-size:18px;

margin-bottom:10px;

color:#ddd;

}

.buttons{

margin-top:30px;

display:flex;

justify-content:center;

gap:20px;

}

button{

padding:14px 30px;

border:none;

border-radius:8px;

background:#ff9800;

color:white;

font-size:17px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#ff6f00;

transform:scale(1.05);

}

.order-btn{

background:#00b894;

}

.order-btn:hover{

background:#009975;

}